<h1 style='color: red'>
    Copy this file to &lt;project_dir&gt;/template/modules/pages/view.twig and there edit
</h1>
<h1>{{ product.getName }}</h1>
<div>
    {{ product.getDescription|raw }}
</div>

<div>
    <h3>Фото</h3>
    <ul>
        {% for image in product.images %}
            <li>link: {{ image.filename }}.{{ image.extension }}</li>
        {% endfor %}
    </ul>
</div>
