{% extends '@catalog_admin/form.twig' %}

{% block additional %}
    {% do asset('css', [
        {0: module.path ~ '/node_modules/select2/dist/css/select2.css','minify': false},
        {0: module.path ~ '/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css','minify': false},
    ]) %}

    {% do asset('js', [
        {0: module.path ~ '/node_modules/select2/dist/js/select2.full.js','minify': false }
    ]) %}
    <script>


        $(document).ready(
            function () {
                $("#title").on('click keyup', function () {
                    let query = 'query=' + $(this).prop('value');

                    (async () => {
                        let response = await fetch('{{ path('tools/translit') }}', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            body: query
                            // body: JSON.stringify({query: $(this).prop('value')})
                        });
                        let result = await response.text();
                        $("#url").val(result);
                    })();
                });
            }
        );


        $(document).ready(function () {
            $("#inputImage").on('click', function () {
                let width = 950;
                let height = 420;
                let params = [];
                params.push('height=' + height);
                params.push('width=' + width);
                params.push('left=' + (screen.width - width) / 2);
                params.push('top=' + ((screen.height - height) / 2) - 50);

                window.open('{{ path('elfinder/popup') }}', 'FileBrowser', params.join(','));
            });
        });

        function processFile(file) {
            $("#img").val(file.url);
        }

    </script>

    <script>


        $(function () {
            $(".set-extra-fields").select2({
                width: "100%",
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: 'select..',
                ajax: {
                    url: "{{ path('@a/catalog/tools/find-option-keys') }}",
                    dataType: 'json',
                    // delay: 250,
                    data: function (params) {
                        return {
                            query: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }

                },
                templateResult: function (result) {
                    if (result.loading) {
                        return result.text;
                    }
                    let $container = $(
                        "<div class='select2-result-repository clearfix'>" +
                        "<span class='select2-result---name'></span> " +
                        "<span class='select2-result---unit small text-muted'></span>" +
                        "</div>"
                    );

                    $container.find(".select2-result---name").text(result.name);
                    $container.find(".select2-result---unit").text(result.unit);

                    return $container;
                },
                templateSelection: function (result) {
                    return result.text || (result.name + (result.unit ? ' (' + result.unit + ')' : ''));
                }
            });

        });

        $(document).ready(function () {
            $("#fill-from-parent").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "{{ path('@a/catalog/tools/category/get-extra-fields') }}",
                    data: {id: $(this).data('id')}
                }).done(function (result) {
                    Object.keys(result).forEach(function (key) {
                        let value = result[key];
                        if (!$("#extraFields option[value='" + key + "']").length) {
                            $('#extraFields').append(new Option(value, key, false, true));
                        }
                    });
                    $('#extraFields').trigger('change');
                }).fail(function () {
                    console.log('An error occurred');
                });
            });
        });
    </script>
{% endblock %}
