{% extends '@a/layout.twig' %}
{% block content %}
    <script>
        let select = document.querySelector('select#category');
        let filtersBody = document.getElementById('filters');

        function drawFilters(data) {
            filtersBody.innerHTML = '';

            let addBtn = document.createElement('button');
            addBtn.classList.add('btn', 'btn-sm', 'btn-primary', 'mb-3');
            addBtn.innerText = 'Добавить фильтры';

            filtersBody.appendChild(document.createElement('div').appendChild(addBtn));

            let table = document.createElement('table');
            table.classList.add('table')
            let template = document.getElementById('filterRow');
            data.forEach(function (item) {
                let row = template.content.cloneNode(true);
                let filter = row.querySelector('.filter');
                filter.innerText = item.option.name;
                row.querySelector('.type').innerText = item.type;
                row.querySelector('.order input').value = item.order;
                table.appendChild(row)
            });
            filtersBody.appendChild(table);
        }

        const loadCategoryFilters = function (categoryId) {

            const url = new URL("{{ url('catalog/admin/api/get-category-filters') }}");
            url.searchParams.append('category', categoryId);
            fetch(url.toString(), {
                method: 'GET'
            }).then(response => response.json())
                .then(data => drawFilters(data))
        };

        const fillCategorySelect = function () {
            fetch("{{ path('catalog/admin/api/get-category-tree') }}", {
                method: 'GET'
            })
                .then(response => response.json())
                .then(function (data) {
                    Object.values(data).forEach(function (v) {
                        let option = new Option(v.title.replaceAll("&nbsp;", "\u00A0"), v.id);
                        if (v.id === 0) {
                            option = new Option('Выберите категорию...', v.id);
                        }
                        select.append(option);
                    })

                    select.addEventListener('change', function () {
                        loadCategoryFilters(select.value)
                    })
                })
        };

        fillCategorySelect();


    </script>
    <section class="content">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div>
                    <label for="category">Категория</label>
                    <select name="category" id="category"
                            aria-controls="example"
                            class="custom-select custom-select-sm form-control form-control-sm mb-3">

                    </select>
                </div>
            </div>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Активные фильтры</h2>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div id="filters">
                    <h2>Выберите категорию</h2>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>

    <template id="filterRow">
        <tr>
            <td class="filter"></td>
            <td class="type">

            </td>
            <td class="order">
                <input type="number">
            </td>
            <td class="action">
                <button class="btn btn-sm btn-danger">Отключить фильтр</button>
            </td>
        </tr>

    </template>

    {% block additional %}
    {% endblock %}

{% endblock %}
