{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title"></h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ path('catalog/admin/product/images/add') }}">Загрузить изображение</a>
            </div>

    </section>
{% endblock %}
