{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title"></h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a class="btn btn-primary" href="{{ path('catalog/admin/product/images/add', {"product_id": product.getId}) }}">Загрузить изображение</a>

                {% for image in images %}
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="{{ '/upload/' ~ image.getFilename ~ '_small.' ~ image.getExtension }}" />
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
