{% extends '@a/layout.twig' %}

{% block content %}

    {% do asset('css', [
        'modules/admin/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css'
    ]) %}

    {% do asset('js', [
        'modules/admin/node_modules/datatables.net/js/jquery.dataTables.js',
        'modules/admin/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js'
    ]) %}

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                processing: true,
                serverSide: true,
                ajax: '{{ path('catalog/admin/api/get-products') }}',
                columns: [
                    {
                        "data":  null,
                        "name":  'image',
                        "orderable": false,
                        "render": function ( data ) {
                            if(data.image){
                                return  `
                                    <img alt="" class="w-50" src="${data.image}" />
                                `;
                            }
                            return '';
                        }
                    },
                    {
                        "data":  null,
                        "name":  'title',
                        "orderable": true,
                        "render": function ( data ) {
                            return  `
                            <div class="h5">${data.name}
                            <a class="small text-dark" href="/?_route=catalog/product&slug=${data.slug}">
                            <i class="fas fa-external-link-alt"></i></a>
                            ${data.hide ? '[скрыт]': ''}
                            ${!data.active ? '[отключен]': ''}
                            </div>
                            `;
                        }
                    },
                    {
                        "data": null,
                        "name": "price",
                        "orderable": true,
                        "render": function ( data ) {
                            return data.price?.format ?? '';
                        }
                    },
                    {
                        "orderable":      false,
                        "data":           null,
                        "render": function ( data ) {
                            return  `
                            <div class="text-nowrap">
                                {% if access2route('catalog/admin/product/edit') %}
                                    <a class="btn btn-default"
                                       href="/?_route=catalog/admin/product/edit&id=${data.id}"
                                       title="Редактирование"><i class="fa fa-edit"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/quantity') %}
                                    <a class="btn btn-default"
                                            href="/?_route=@a/catalog/product/quantity&id=${data.id}" title="Количество"><i
                                            class="fa fa-cubes"></i></a>
                                {% endif %}
                                {% if access2route('catalog/admin/product/images') %}
                                    <a class="btn btn-default"
                                       href="/?_route=catalog/admin/product/images&product_id=${data.id}"
                                       title="Управление изображениями"><i class="fa fa-image"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/tags') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/tags&id=${data.id}"
                                       title="Теги"><i class="fa fa-tags"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/options') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/options&id=${data.id}"
                                       title="Параметры"><i class="fa fa-list"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/urls') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/urls&id=${data.id}"
                                       title="URLs"><i class="fas fa-link"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/files') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/files&id=${data.id}"
                                       title="Файлы"><i class="fa fa-file"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/prices') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/prices&id=${data.id}"
                                       title="Цены"><i class="fa fa-dollar-sign"></i></a>
                                {% endif %}
                                {% if access2route('@a/catalog/product/meta') %}
                                    <a class="btn btn-default"
                                       href="/?_route=@a/catalog/product/meta&id=${data.id}"
                                       title="SEO"><i class="fa fa-globe"></i></a>
                                {% endif %}
                                {% if access2route('catalog/admin/product/delete') %}
                                    <a class="btn btn-danger"
                                       href="/?_route=catalog/admin/product/delete&id=${data.id}"
                                       title="Удаление"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </div>

                            `;
                        }
                    },
                ],
                order: [[1, 'asc']],
                language: {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });
        });


    </script>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список товаров (продуктов)</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example_wrapper" class="dataTables_wrapper">


                    <table id="example" class="table w-100 display dataTable" aria-describedby="example_info">
                        <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">Изображение
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Position: activate to sort column ascending">
                                Наименование
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Office: activate to sort column ascending">Цена
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Salary: activate to sort column ascending">Действие
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td colspan="6" class="dataTables_empty">Loading...</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>

                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>



{% endblock %}
