{% extends '@a/layout.twig' %}

{% block content %}

    {% do asset('css', [
        'modules/admin/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css'
    ]) %}

    {% do asset('js', [
        'modules/admin/node_modules/datatables.net/js/jquery.dataTables.js',
        'modules/admin/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js'
    ]) %}

    <script>

        function loadSelectCategory(select, selected) {
            $.ajax({
                method: "GET",
                url: "{{ path('catalog/admin/api/get-category-tree') }}"
            })
                .done(function (data) {
                    Object.entries(data).forEach(function (v) {
                        let option = new Option(v[1], v[0], false, v[0] === selected);
                        select.append(option);
                    })
                });
        }

        $(document).ready(function () {
            let select = $('select#category');

            let table = $('#example').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: '{{ path('catalog/admin/api/get-products') }}',
                    data: function (d) {
                        d.categoryId = select.val();
                    },
                },
                stateSaveParams: function (s, data) {
                    data.categoryId = select.val();
                },
                stateLoadParams: function (s, data) {
                    loadSelectCategory(select, data.categoryId)
                },
                columns: [
                    {
                        "data": null,
                        "name": 'i.filename',
                        "orderable": true,
                        "render": function (data) {
                            if (data.defaultImage) {
                                return `
                                    <img alt="" class="w-50" src="${data.defaultImage.small}" />
                                `;
                            }
                            return '';
                        }
                    },
                    {
                        "data": null,
                        "name": 'p.name',
                        "orderable": true,
                        "render": function (data) {
                            return `
                            <div class="h5">
                            ${data.hide ? '[скрыт]' : ''}
                            ${!data.active ? '[отключен]' : ''}
                            ${data.name}
                            <a class="small text-dark" href="/?_route=catalog/product&slug=${data.slug}">
                            <i class="fas fa-external-link-alt"></i></a>

                            </div>
                            <div class="small">
                                    ${data.productCode ? '<div  class="text-muted">Product code (articul): <b>' + data.productCode + '</b></div>' : ''}
                                    <div class="text-muted"><a class="text-reset" href="/?_route=catalog/category&slug=${data.category.slug}""> ${data.category.breadcrumbs.map(i => i.title).join(' &rarr; ')}</a>
                                        </div>

                            </div>
                            <div class="small">
                                    ${data.price ? '<div  class="text-muted">Цена: <b>' + data.price.format + '</b></div>' : ''}
                            </div>
                            `;
                        }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data) {
                            return `
                            <div class="dropdown">
                              <button class="btn btn-light btn-lg" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu">
                                 {% if access2route('catalog/admin/product/edit') %}
                                 <li>
                                    <a class="dropdown-item"
                                       href="/?_route=catalog/admin/product/edit&id=${data.id}"
                                       title="Редактирование"> Редактирование
                                    </a>
                                 </li>
                                {% endif %}
                                   {% if access2route('@a/catalog/product/quantity') %}
                                    <li>
                                        <a class="dropdown-item"
                                            href="/?_route=@a/catalog/product/quantity&id=${data.id}" title="Количество">
                                             Количество
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('catalog/admin/product/images') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=catalog/admin/product/images&product_id=${data.id}"
                                           title="Управление изображениями">
                                                 Изображения <span class="badge badge-warning">${data.images.length}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/tags') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/tags&id=${data.id}"
                                           title="Теги"> Теги
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/options') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/options&id=${data.id}"
                                           title="Параметры">Параметры
                                       </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/urls') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/urls&id=${data.id}"
                                           title="URLs">URLs
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/files') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/files&id=${data.id}"
                                           title="Файлы">Файлы
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/prices') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/prices&id=${data.id}"
                                           title="Цены">Цены
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('@a/catalog/product/meta') %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/?_route=@a/catalog/product/meta&id=${data.id}"
                                           title="SEO">SEO
                                        </a>
                                    </li>
                                {% endif %}
                                {% if access2route('catalog/admin/product/delete') %}
                                    <li>
                                        <a class="dropdown-item bg-danger"
                                           href="/?_route=catalog/admin/product/delete&id=${data.id}"
                                           title="Удаление">Удаление
                                        </a>
                                    </li>
                                {% endif %}
                              </div>
                            </div>


                            `;
                        }
                    },
                ],
                order: [],
                language: {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });

            select.on('change', function () {
                table.draw();
            });

        });


    </script>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список товаров (продуктов)</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div>
                    <label for="category">Категории</label>
                    <select name="category" id="category"
                            aria-controls="example"
                            class="custom-select custom-select-sm form-control form-control-sm mb-3">

                    </select>
                </div>

                <div id="example_wrapper" class="table-responsive dataTables_wrapper">


                    <table id="example" class="table w-100 display dataTable" aria-describedby="example_info">
                        <thead>
                        <tr>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">Изображение
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Position: activate to sort column ascending">
                                Наименование
                            </th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td colspan="6" class="dataTables_empty">Loading...</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>

                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>



{% endblock %}
