<div class="filter-sidebar d-none d-xl-flex mt-3">
    <div class="card rounded-0 w-100">
        <div class="card-body">
            <div class="align-items-center d-flex d-xl-none">
                <h6 class="text-uppercase mb-0">Фильтр</h6>
                <div class="btn-mobile-filter-close btn-close ms-auto cursor-pointer"></div>
            </div>
            <hr class="d-flex d-xl-none"/>

            <div class="product-categories">

                <h6 class="mb-3"> Фильтр
                </h6>


            </div>

            {% for filter in filters %}
            <hr>
            <div class="product-brands">
                <h6 class="text-uppercase mb-3">{{ filter.optionKey }}</h6>
                <ul class="list-unstyled mb-0 categories-list">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Adidas">
                            <label class="form-check-label" for="Adidas">Adidas (15)</label>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
