{% if form %}
    {% do asset('js', [
        'node_modules/nouislider/dist/nouislider.min.js'
    ]) %}
    {% do asset('css', [
        'node_modules/nouislider/dist/nouislider.min.css'
    ]) %}
    <style>
        .slider-group {
            margin: 0;
        }

        .noUi-target {
            height: 10px;
            margin: 1em 0;
            padding-left: 5px;
            padding-right: 5px;
        }

        .noUi-connect {
            background: #2c86ea;
        }

        .noUi-horizontal .noUi-handle {
            height: 18px;
            width: 18px;
            top: -5px;
            right: -9px; /* half the width */
            border-radius: 9px;
        }

        .noUi-horizontal .noUi-handle:before,   .noUi-horizontal .noUi-handle:after {
            display: none;
        }
    </style>
    <script>
        let sliders = document.querySelectorAll('.slider-group');

        sliders.forEach(function (slider) {
            let minInput = slider.querySelector('.minInput');
            let maxInput = slider.querySelector('.maxInput');

            let sliderContainer = document.createElement('div');
            slider.prepend(sliderContainer);

            noUiSlider.create(sliderContainer, {
                start: [minInput.value, maxInput.value],
                connect: true,
                range: {
                    'min': Math.round(minInput.min),
                    'max': Math.round(maxInput.max)
                }
            });

            sliderContainer.noUiSlider.on('update', function (values) {
                minInput.value = Math.round(values[0]);
                maxInput.value = Math.round(values[1]);
            });

            [minInput, maxInput].forEach(function (element) {
                element.addEventListener('change', function () {
                    sliderContainer.noUiSlider.set([minInput.value, maxInput.value]);
                });
            })
        })
    </script>
    <div class="filter-sidebar d-none d-xl-flex mt-3">
        <div class="card rounded-0 w-100">
            <div class="card-body">
                <div class="align-items-center d-flex d-xl-none">
                    <h6 class="text-uppercase mb-0">Фильтр</h6>
                    <div class="btn-mobile-filter-close btn-close ms-auto cursor-pointer"></div>
                </div>
                <hr class="d-flex d-xl-none"/>
                {{ form|raw }}
            </div>
        </div>
    </div>
{% endif %}
