{% extends '@a/layout.twig' %}
{% block content %}
    <section class="content">

        <div class="card">

            <div class="card-header">
                <h2 class="card-title">{{ title }}
                    <small class="d-block">{{ subtitle }}</small>
                </h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
